<app-page-header [title]="'ACCORDION'" [items]="['Advanced UI']" [active_item]="'Accordion'"></app-page-header>
<!-- row -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="card-title mb-1">Basic Style Accordion</h6>
          <p class="text-muted card-sub-title">The default collapse behavior to create an accordion.</p>
        </div>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Making a Beautiful CSS3 Button Set" cardClass="acc-card">
            <ng-template ngbPanelContent>
              A concisely coded CSS3 button set increases usability across the board, gives you a ton of options, and
              keeps all the code involved to an absolute minimum. Anim pariatur cliche reprehenderit, enim eiusmod
              high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
              brunch.
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Horizontal Navigation Menu Fold Animation" cardClass="acc-card">
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore.
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Creating CSS3 Button with Rounded Corners" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card overflow-hidden">
      <div class="card-header pb-0">
        <h3 class="card-title">Accordion Style01</h3>
        <p class="text-muted card-sub-title mb-0">The default collapse behavior to create an accordion.</p>
      </div>
      <div class="card-body">
        <div class="panel-group1" id="accordion1">
          <div class="panel panel-default mb-4 overflow-hidden">
            <div class="panel-heading1">
              <h4 class="panel-title1">
                <a class="accordion-toggle firstgradient bg-gradient-primary collapsed "
                  (click)="FirstGradient()">Section 1</a>
              </h4>
            </div>
            <div *ngIf="isFirstGradient">
              <div class="panel-collapse">
                <div class="panel-body">
                  <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It uses a
                    dictionary of over 200 Latin words </p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues
                    or desires to obtain pain of itself, because it is pain, but
                    because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                    To take a trivial example, which of us ever undertakes laborious
                    physical exercise</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default overflow-hidden">
            <div class="panel-heading1">
              <h4 class="panel-title1">
                <a class="accordion-toggle secondgradient bg-gradient-primary collapsed"
                  (click)="SecondGradient()">Section 2</a>
              </h4>
            </div>
            <div class="panel-collapse" *ngIf="isSecondGradient">
              <div class="panel-body">
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                  this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or
                  desires to obtain pain of itself, because it is pain, but
                  because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                  To take a trivial example, which of us ever undertakes laborious
                  physical exercise</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Accordion Style02</h3>
      </div>
      <div class="card-body h-100">
        <div id="accordion01" class="w-100 overflow-hidden Accordion-Style02 ">
          <ngb-accordion [closeOthers]="true">
            <ngb-panel id="static-1" title="Accordions With Text" cardClass="panel-heading">
              <ng-template ngbPanelContent>
                I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                will give you a complete account of the system, and expound the actual teachings of the great explorer
                of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally
                encounter consequences that are extremely painful
                sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et
                aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
                molestiae
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2" title="Accordions with images" cardClass="panel-heading">
              <ng-template ngbPanelContent>
                <div class="border p-3 accstyle">
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <img class="img-fluid rounded" src="./assets/img/photos/8.jpg " alt="banner image">
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <img class="img-fluid rounded" src="./assets/img/photos/10.jpg" alt="banner image ">
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <img class="img-fluid rounded" src="./assets/img/photos/8.jpg" alt="banner image ">
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <img class="img-fluid rounded " src="./assets/img/photos/12.jpg" alt="banner image ">
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3" title="Accordions with tables" cardClass="panel-heading">
              <ng-template ngbPanelContent>
                <div class="border table-responsive p-3 accstyle">
                  <table class="table mb-0 table-bordered border-top mb-0">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="card-title mb-1">Accordion With Icons</h6>
          <p class="text-muted card-sub-title">The default collapse behavior to create an accordion.</p>
        </div>
        <ngb-accordion [closeOthers]="true">
          <ngb-panel cardClass="acc-card">
            <ng-template ngbPanelTitle>
              <i class="fa fa-minus-circle me-2"></i>
              Making a Beautiful CSS3 Button Set
            </ng-template>
            <ng-template ngbPanelContent>
              A concisely coded CSS3 button set increases usability across the board, gives you a ton of options, and
              keeps all the code involved to an absolute minimum. Anim pariatur cliche reprehenderit, enim eiusmod
              high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
              brunch.
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2" cardClass="acc-card">
            <ng-template ngbPanelTitle>
              <i class="fa fa-minus-circle me-2"></i>
              Horizontal Navigation Menu Fold Animation
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore.
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-3" cardClass="acc-card">
            <ng-template ngbPanelTitle>
              <i class="fa fa-minus-circle me-2"></i> Creating CSS3 Button with Rounded Corners
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>
    </div>
  </div>
</div>
<!-- row closed -->