.chart-circle .chart-circle-value.circle-style {
    top: 23px;
    left: 10px;
}
::ng-deep{
    .rtl .chart-circle .chart-circle-value.circle-style {
        top: 23px !important;
        left: -10px !important;
    }
    .rtl .ms-3 {
        margin-right: 1rem !important;
    }
}