<app-page-header [title]="'CART'" [items]="['ECommerce']" [active_item]="'Cart'"></app-page-header>
<!-- row opened -->
<div class="row">
  <div class="col-lg-12 col-xl-9 col-md-12">
    <div class="card">
      <div class="card-body">
        <!-- Shopping Cart-->
        <div class="product-details table-responsive text-nowrap">
          <table class="table table-bordered table-hover mb-0 text-nowrap">
            <thead>
              <tr>
                <th class="text-start">Product</th>
                <th class="w-150">Quantity</th>
                <th>prize</th>
                <th>STATUS</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              <tr  *ngFor="let obj of objectArray">
                <td>
                  <div class="media">
                    <div class="card-aside-img">
                      <img src={{obj.image}} alt="img" class="h-60 w-60">
                    </div>
                    <div class="media-body">
                      <div class="card-item-desc mt-0">
                        <h6 class="font-weight-semibold mt-0 text-uppercase">{{obj.title}}</h6>
                        <dl class="card-item-desc-1">
                          <dt>Size: </dt>
                          <dd>XXL</dd>
                        </dl>
                        <dl class="card-item-desc-1">
                          <dt>Color: </dt>
                          <dd>purple color</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="handle-counter ms-2">
                    <button class="counter-minus btn btn-white lh-2 shadow-none minus"><i class="fe fe-minus"></i></button>
                    <!-- <span class="ms-2 me-2 fs-15">{{obj.quantity}}</span> -->
                    <input type="text" value={{obj.quantity}} class="qty">
                    <button class="counter-plus btn btn-white lh-2 shadow-none plus"><i class="fe fe-plus"></i></button>
                  </div>
                </td>
                <td class="text-center text-lg text-medium font-weight-bold  tx-15">{{obj.price}}</td>
                <td class="text-center"><span class="badge bg-{{obj.status}} p-1">{{obj.statusText}}</span></td>
                <td class="text-center">
                  <a class="btn btn-sm btn-danger-light" href="javascript:void(0);" (click)="RemoveElementFromObjectArray(obj.id)" ngbTooltip="Remove item"  container=".btn"><i class="fe fe-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="shopping-cart-footer bd-0">
          <div class="column"><a class="btn btn-secondary" routerLink="/eCommerce/shop"><i
                class="fe fe-corner-up-left  me-2"></i>Back to Shopping</a></div>
          <div class="column">
            <a class="btn btn-primary" routerLink="/eCommerce/cart"><i class="fe fe-refresh-cw me-2"></i>Update Cart</a>
            <a class="btn btn-outline-primary" routerLink="/eCommerce/check-out"><i class="fe fe-log-in me-2"></i>Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-3 col-md-12">
    <div class="card custom-card">
      <div class="card-body">
        <form>
          <div class="form-group mb-0"> <label>Have coupon?</label>
            <div class="input-group"> <input type="text" class="form-control coupon" placeholder="Coupon code"> <span
                class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card custom-card cart-details">
      <div class="card-body">
        <h5 class="mb-3 font-weight-bold tx-14">PRICE DETAIL</h5>
        <dl class="dlist-align">
          <dt class="">ITEMS 3</dt>
          <dd class="text-end ms-auto">$ 262.00</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Discount:</dt>
          <dd class="text-end text-danger ms-auto">- $20.00</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Total price:</dt>
          <dd class="text-end ms-auto">$252.97</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Delivery:</dt>
          <dd class="text-end text-success ms-auto">Free</dd>
        </dl>
        <hr>
        <dl class="dlist-align">
          <dt>Total:</dt>
          <dd class="text-end  ms-auto tx-20"><strong>$252.97</strong></dd>
        </dl>
      </div>
      <div class="card-footer">
        <div class="column"><a class="btn btn-primary" routerLink="/eCommerce/shop">Continue Shopping</a></div>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->