<app-page-header [title]="'FAQS'" [items]="['Pages']" [active_item]="'Faqs'"></app-page-header>
<!-- row -->
<div class="row">
  <div class="col-xl-12">

    <div class="panel-group2" id="accordion11" role="tablist">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="1. How To Insert All The Plugins?" cardClass="acc-card mb-2">
          <ng-template ngbPanelContent>
            <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="2. How Can I contact?" cardClass="acc-card mb-2">
          <ng-template ngbPanelContent>
            <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="3. Can I use this Plugins in Another Template?" cardClass="acc-card mb-2">
          <ng-template ngbPanelContent>
            <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="4. It is Easy to Customizable?" cardClass="acc-card mb-2">
          <ng-template ngbPanelContent>
            <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="5. How Can I Add another page in Template?" cardClass="acc-card mb-2">
          <ng-template ngbPanelContent>
            <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="6. How can I download This template?" cardClass="acc-card mb-2">
          <ng-template ngbPanelContent>
            <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="7. How To Add additional plugins?" cardClass="acc-card mb-2">
          <ng-template ngbPanelContent>
            <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
<!-- row closed -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-lg-0">
      <div class="card-header">
        <h3 class="card-title">Ask Question</h3>
      </div>
      <div class="card-body">
        <h6>If Your Query Not Clarified Post Your Question, My Customer Support will help You.</h6>
        <div class="pt-4">
          <div class="form-group">
            <input type="text" class="form-control" id="name1" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="example-textarea-input" rows="6"
              placeholder="Post Your Query"></textarea>
          </div>
          <a href="javascript:void(0);" class="btn btn-primary">Send Question</a>
        </div>
      </div>
    </div>
  </div>
</div>